<div class="container" id="group">
  <div class="row">
    <p id="basic-group-info" class="text-center">
      <%=t 'betray_info', penalty: "{{model.group.betray_penalty}}" %>
      <%=t 'round_info', round_id: "{{model.group.round_id}}" %>
    </p>

  </div>


  <div class="alert alert-success" ng-if='isAckedByMyself() == false && model.group.status == "deal"'>
    <p>
      <strong>
        <%= t 'deal_info', submitter: "{{ model.group.deal.submitterName }}", acceptor: "{{ model.group.deal.acceptorName }}"%>
    </strong>
    </p>
    <button class="btn btn-info" ng-click="nextRound()"><%= t 'next_round' %></button>
  </div>

  <div class="alert alert-info" ng-if='isAckedByMyself() == true && model.group.status == "deal"'>
    <strong><%= t 'wait_info' %></strong>
  </div>



  <div class="row">
    <table class="table" id="statistics">
      <thead>
        <tr>
          <th><%= t 'players' %></th>
            <th ng-repeat="user in model.group.users">{{ user.username }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t 'total_earnings' %></td>
          <td ng-repeat="user in model.group.users">{{ user.total_earning }}</td>
        </tr>
        <tr>
          <td><%= t 'last_earnings'%></td>
          <td ng-repeat="m in model.group.last_earning track by $index">{{ m }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" id="opponents">
    <div ng-repeat="opponent in model.opponents track by $index" class="col-md-6 thumbnail">
      <p><%= t 'opponent' %>:  {{ opponent.username }}</p>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="user in model.group.users">{{ user.username}}</th>
        </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <%= t 'proposal' %>
            </td>
            <td ng-repeat="money in opponent.proposal_to_me.moneys track by $index">{{ money }}</td>
          </tr>
        </tbody>
      </table>

      <div>
        <button class="btn btn-info btn-block" type="submit" ng-click="accept($index)">
          <%= t 'accept' %>
        </button>
      </div>
          

      <hr/>

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="user in model.group.users">{{ user.username }}</th>
        </tr>
        </thead>

        <tbody id="me">
          <tr>
            <td><%= t 'my_proposal' %></td>
            <td ng-repeat="money in opponent.proposal_from_me track by $index">{{ money }}</td>
          </tr>
        </tbody>

      </table>

      <form class="form-inline" role="form" ng-controller="MyProposalCtrl" ng-submit="submit()">
        <div class="form-group" ng-repeat="money in proposal_from_me track by $index">
          <label>{{ model.group.users[$index].username }}</label>
          <input type="text" class="input-mini" ng-model="proposal_from_me[$index]">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-block"><%= t 'submit'%></button>
        </div>
      </form>
  </div>

</div>