<div class="row-fluid">
  <p id="basic-group-info" class="text-info text-center">
    {{t 'round_before'}} {{round_id}} {{t 'round_after'}}; {{t 'round_penalty'}} {{betray_penalty}}
  <button class="btn btn-danger pull-right" id="exit">{{t 'exit_room'}}</button>
  </p>

</div>


{{#if new_deal }}

  <div class="alert alert-success">
    <p><strong>{{t 'before_first'}} {{new_deal.submitter}} {{t 'and'}} {{new_deal.acceptor}} {{t 'after_second'}} {{t 'press'}} {{t 'and_wait'}}</strong>
    </p>
    <button class="btn btn-success" id="next-round">{{t 'next_round'}}</button>
  </div>
{{/if }}

{{#if wait_others }}
  <div class="alert alert-info">
    <strong>{{t 'wait_info'}}</strong>
  </div>
{{/if }}


<div class="row-fluid">
  <table class="table" id="statistics">
    <thead>
      <tr>
        <th>#</th>
        {{#each users}}
          <th>{{ this.username }}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{t 'total_earnings'}}</td>
        {{#each total_earnings}}
          <td>{{ this }}</td>
        {{/each}}
      </tr>
      <tr>
        <td>{{t 'last_earnings'}}</td>
        {{#each last_earnings}}
          <td>{{ this }}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>

<div id="opponents"></div>