<div class="row-fluid">
  <p id="basic-group-info" class="text-info text-center">
    <strong><span id="my-name" class="muted"></span></strong>
  </p>
</div>

{{#if deal }}
  <div class="row-fluid">
    <p>A deal is made between {{deal.submitter}} and {{deal.acceptor}}, please press this button to continue </p>
    <button class="btn" id="next-round">next round</button>
  </div>
{{/if }}


<div class="row-fluid">
  <table class="table" id="statistics">
    <thead>
      <tr>
        <th>#</th>
        {{#each users}}
          <th>{{ this }}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>total_earnings</td>
        {{#each total_earnigs}}
          <td>{{ this }}</td>
        {{/each}}
      </tr>
      <tr>
        <td>last_earnings</td>
        {{#each last_earnings}}
          <td>{{ this }}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>

<div id="opponents"></div>