<div class="navbar">
  <div class="navbar-inner">
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a href="/" class="brand">{{t "brand"}}</a>

      <ul class="nav pull-right">
        {{#if current_user }}  
          <li><a href="/#logout"><strong>{{ username }} {{ t "logout" }}</strong></a></li>
        {{else}}
          <li><a href="/#login">{{t "login" }}</a></li>
          <li><a href="/#signup">{{t "signup" }}</a></li>
        {{/if}}

                       
      </ul>
      
  </div>

</div>
