<li class="span6">
  <div class="thumbnail">
    <div class='text-center'>
      <strong><span id="opponent_name"></span><span id="status"></span></strong>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        {{#each users}}
          <th>{{ this.username }}</th>
        {{/each}}
      </tr>
      </thead>

      <tbody id="opponent">
        <tr>
          <td>
            {{t 'proposal'}}
          </td>
          <td id="first"></td>
          <td id="second"></td>
          <td id="third"></td>
        </tr>
      </tbody>

    </table>

    <div class="row-fluid">
      <div class="span6 offset3">
        <button class="btn btn-block btn-success {{disabled}}" type="submit" id="accept">
          {{t 'accept'}}
        </button>
      </div>
      
    </div>

    <hr/>
    <div class="text-center">
      <strong><span id="opponent_name"></span></strong>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        {{#each users}}
          <th>{{ this.username }}</th>
        {{/each}}
      </tr>
      </thead>

      <tbody id="me">
        <tr>
          <td>
            {{t 'my'}}{{t 'proposal'}}
          </td>
          <td id="first"></td>
          <td id="second"></td>
          <td id="third"></td>
        </tr>
      </tbody>

    </table>

    <form class="form-inline table">
        <div class="row-fluid">
          <div class="span4">
            <label for="first"></label>
            <input type="text" id="first" class="input-mini">%
          </div>
          <div class="span4">
            <label for="second"></label>
            <input type="text" id="second" class="input-mini">%
          </div>
            
          <div class="span4">
            <label for="thrid"></label>
            <input type="text" id="third" class="input-mini">%
          </div>

        </div>

        <hr/>
        <div class="row-fluid">
          <div class="span6 offset3">
            <button type="submit" class="btn btn-success btn-block {{disabled}}" id="submit">{{t 'submit'}}</button>
          </div>
        </div>
    </form>

  </div>
</li>

