<!DOCTYPE html>
<html ng-app="vote">

<head>
  <title>RealtimeVote</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand " href="">Vote for Money</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li><a>Welcome <%= current_user.username %></a></li>
        <li><a href="/admin">Admin</a></li>
      <% end %>
    </ul>
  </div>
</div>
  <%= yield %>

</body>
</html>
